#!/usr/bin/env ruby
require 'date'

preprocess do
  @items.each do |item|
    if (m = item.identifier.to_s.match(%r{^/blog/(\d{4}-\d{2}-\d{2})-(.+)\.md$}))
      item[:date] = Date.parse(m[1])
    end
  end
end

compile '/**/*.html' do
  filter :erb
  layout '/default.*'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*' do
end

route '/blog/*.{html,md}' do
  if (m = item.identifier.to_s.match(%r{^/blog/\d{4}-\d{2}-\d{2}-(.+)\.[^.]+$}))
    "/blog/#{m[1]}/index.html"
  else
    item.identifier.without_ext + '/index.html'
  end
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

route '/**/*' do
  item.identifier.to_s
end

layout '/**/*', :erb
