:root {
  --lavender-floral: hsla(272, 66%, 68%, 1);
  --pumpkin: hsla(21, 100%, 61%, 1);
  --green-yellow: hsla(89, 91%, 66%, 1);
  --aureolin: hsla(53, 100%, 62%, 1);
  --moonstone: hsla(184, 79%, 41%, 1);
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fdfdfd;
}

.container {
  display: grid;
  grid-template-areas:
    "headline headline headline"
    "navigation content sidebar"
    ". colophon colophon";
  grid-template-columns: 150px 1fr 150px;
  gap: 1rem;

  max-width: 100ch;
  margin: 0 auto;
}

header.headline {
  grid-area: headline;
}
nav.sidebar-left {
  grid-area: navigation;
}
main.content {
  grid-area: content;
}
aside.sidebar-right {
  grid-area: sidebar;
}
footer.colophon {
  grid-area: colophon;
}
